VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5kc2V4aGRlanlkeW5ocWlwdXlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA1MTI1MTMsImV4cCI6MjA2NjA4ODUxM30.xh0Bix1ZvAVhkK1YOPfxje66M-FLhr1xupuXpXJn4lM